In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(3), index=['A', 'B','C'])

In [3]:
ser1 = 2*ser1

In [4]:
ser1

A    0
B    2
C    4
dtype: int32

In [5]:
ser1['B']

2

In [6]:
ser1[1]

2

In [7]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [8]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [9]:
ser1[ser1>3]

C    4
dtype: int32

In [10]:
ser1[ser1>3] = 10

In [11]:
ser1

A     0
B     2
C    10
dtype: int32

In [12]:
dframe = DataFrame(np.arange(25).reshape((5,5)), index=['a', 'b','c','d','e'], columns =['1','2','3','4','5'] )

In [13]:
dframe

    1   2   3   4   5
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [15]:
dframe['1']

a     0
b     5
c    10
d    15
e    20
Name: 1, dtype: int32

In [17]:
dframe[['1', '2']]

    1   2
a   0   1
b   5   6
c  10  11
d  15  16
e  20  21

In [18]:
dframe[dframe['3']>8]

    1   2   3   4   5
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [19]:
dframe > 2

       1      2      3     4     5
a  False  False  False  True  True
b   True   True   True  True  True
c   True   True   True  True  True
d   True   True   True  True  True
e   True   True   True  True  True

In [22]:
dframe.ix['a']

C:\python\WPy-3662\python-3.6.6.amd64\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1    0
2    1
3    2
4    3
5    4
Name: a, dtype: int32

In [23]:
dframe.ix[1]

C:\python\WPy-3662\python-3.6.6.amd64\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1    5
2    6
3    7
4    8
5    9
Name: b, dtype: int32