In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
animals = DataFrame(np.arange(16).reshape((4,4)),
                   columns = ['w','x','y','z'],
                   index = ['dog','cat','bird','mouse'])

In [7]:
animals

        w   x   y   z
dog     0   1   2   3
cat     4   5   6   7
bird    8   9  10  11
mouse  12  13  14  15

In [8]:
animals.ix[1:2, ['w','y']] = np.nan

C:\python\WPy-3662\python-3.6.6.amd64\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [9]:
animals

          w   x     y   z
dog     0.0   1   2.0   3
cat     NaN   5   NaN   7
bird    8.0   9  10.0  11
mouse  12.0  13  14.0  15

In [10]:
behavior_map = {'w':'bad', 'x': 'good','y':'bad','z':'good'}

In [11]:
behavior_map

{'w': 'bad', 'x': 'good', 'y': 'bad', 'z': 'good'}

In [12]:
animals_col = animals.groupby(behavior_map, axis = 1)

In [14]:
animals_col.sum()

        bad  good
dog     2.0   4.0
cat     NaN  12.0
bird   18.0  20.0
mouse  26.0  28.0

In [15]:
behavior_series = Series(behavior_map)

In [16]:
behavior_series

w     bad
x    good
y     bad
z    good
dtype: object

In [17]:
animals.groupby(behavior_series, axis =1).count()

       bad  good
dog      2     2
cat      0     2
bird     2     2
mouse    2     2

In [18]:
animals

          w   x     y   z
dog     0.0   1   2.0   3
cat     NaN   5   NaN   7
bird    8.0   9  10.0  11
mouse  12.0  13  14.0  15

In [19]:
animals.groupby(len).sum()

      w   x     y   z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [20]:
keys = ['A','B','A','B']

In [21]:
animals.groupby([len, keys]).max()

        w   x     y   z
3 A   0.0   1   2.0   3
  B   NaN   5   NaN   7
4 A   8.0   9  10.0  11
5 B  12.0  13  14.0  15