In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [6]:
ser1 = Series([1,2,3,4], index=['A','B', 'C', 'D'])

ser1

In [7]:
print(ser1)

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D','E', 'F'])

In [9]:
print(ser2)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2.reindex(['A', 'B', 'C', 'D','E', 'F','G'], fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [11]:
ser3 = Series(['USA','Mexico', 'Canada'], index=[0,5,10])

In [12]:
print(ser3)

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ser3.reindex(range(15))

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [15]:
ser3.reindex(range(15), method = 'ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['a','b','d','e','f'], columns = ['col1', 'col2', 'col3', 'col4','col5'] )

In [19]:
print(dframe)

       col1      col2      col3      col4      col5
a  0.721349  0.445753  2.322975  0.847804 -0.546242
b -0.310445  1.577519 -1.327884  0.309406 -1.496819
d  0.286003 -0.537099 -0.418881  1.205033  1.324665
e -0.114424  0.538462  1.016743  1.603604 -0.283673
f -1.888975  0.834574  0.228484  1.052957  0.152046

In [20]:
new_index = ['a', 'b', 'c', 'd', 'e','f']
dframe2 = dframe.reindex(new_index)

In [21]:
print(dframe2)

       col1      col2      col3      col4      col5
a  0.721349  0.445753  2.322975  0.847804 -0.546242
b -0.310445  1.577519 -1.327884  0.309406 -1.496819
c       NaN       NaN       NaN       NaN       NaN
d  0.286003 -0.537099 -0.418881  1.205033  1.324665
e -0.114424  0.538462  1.016743  1.603604 -0.283673
f -1.888975  0.834574  0.228484  1.052957  0.152046

In [23]:
new_columns = ['col1', 'djfkd', 'fkdjf','djfkdf', 'kf']
dframe2.reindex(columns = new_columns)

       col1  djfkd  fkdjf  djfkdf  kf
a  0.721349    NaN    NaN     NaN NaN
b -0.310445    NaN    NaN     NaN NaN
c       NaN    NaN    NaN     NaN NaN
d  0.286003    NaN    NaN     NaN NaN
e -0.114424    NaN    NaN     NaN NaN
f -1.888975    NaN    NaN     NaN NaN