In [1]:
import numpy as np
from pandas import DataFrame

In [57]:
np.random.seed(12345)

In [58]:
dframe = DataFrame(np.random.randn(1000,4))

In [59]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [60]:
dframe.tail()

            0         1         2         3
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

In [61]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [62]:
col = dframe[0]

In [63]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [64]:
col[np.abs(col) > 0]

0     -0.204708
1      1.965781
2      0.769023
3      0.274992
4     -2.001637
5     -0.539741
6     -0.577087
7      0.000940
8     -2.370232
9     -1.265934
10    -2.359419
11    -1.307030
12     0.331286
13    -0.011862
14    -1.549106
15     0.862580
16     0.852965
17    -0.652469
18     0.723642
19    -0.622274
20     0.051316
21     1.010737
22    -0.131578
23    -0.114928
24     0.118110
25    -1.565657
26    -0.482573
27    -0.589488
28     0.929969
29     0.220487
         ...
970    1.140886
971   -1.523554
972    0.097878
973   -0.738296
974   -1.969172
975   -0.813280
976    0.669147
977   -0.042541
978    0.615651
979    0.359400
980   -0.261844
981   -0.136429
982   -0.355393
983   -1.316005
984    0.675317
985   -0.754114
986   -0.105654
987   -0.052736
988   -0.172078
989    0.881601
990   -0.103672
991    0.926782
992   -0.527754
993    0.957144
994    1.221058
995    1.089085
996   -0.478509
997   -1.946267
998   -1.293122
999    0.089987
Name: 0, Length: 1000, dtype: float64

In [65]:
np.abs(dframe) > 0

        0     1     2     3
0    True  True  True  True
1    True  True  True  True
2    True  True  True  True
3    True  True  True  True
4    True  True  True  True
5    True  True  True  True
6    True  True  True  True
7    True  True  True  True
8    True  True  True  True
9    True  True  True  True
10   True  True  True  True
11   True  True  True  True
12   True  True  True  True
13   True  True  True  True
14   True  True  True  True
15   True  True  True  True
16   True  True  True  True
17   True  True  True  True
18   True  True  True  True
19   True  True  True  True
20   True  True  True  True
21   True  True  True  True
22   True  True  True  True
23   True  True  True  True
24   True  True  True  True
25   True  True  True  True
26   True  True  True  True
27   True  True  True  True
28   True  True  True  True
29   True  True  True  True
..    ...   ...   ...   ...
970  True  True  True  True
971  True  True  True  True
972  True  True  True  True
973  True  True  True  True
974  True  True  True  True
975  True  True  True  True
976  True  True  True  True
977  True  True  True  True
978  True  True  True  True
979  True  True  True  True
980  True  True  True  True
981  True  True  True  True
982  True  True  True  True
983  True  True  True  True
984  True  True  True  True
985  True  True  True  True
986  True  True  True  True
987  True  True  True  True
988  True  True  True  True
989  True  True  True  True
990  True  True  True  True
991  True  True  True  True
992  True  True  True  True
993  True  True  True  True
994  True  True  True  True
995  True  True  True  True
996  True  True  True  True
997  True  True  True  True
998  True  True  True  True
999  True  True  True  True

[1000 rows x 4 columns]

In [66]:
dframe[(np.abs(dframe)>0.999).any(1)]

            0         1         2         3
1    1.965781  1.393406  0.092908  0.281746
2    0.769023  1.246435  1.007189 -1.296221
3    0.274992  0.228913  1.352917  0.886429
4   -2.001637 -0.371843  1.669025 -0.438570
5   -0.539741  0.476985  3.248944 -1.021228
7    0.000940  1.343810 -0.713544 -0.831154
8   -2.370232 -1.860761 -0.860757  0.560145
9   -1.265934  0.119827 -1.063512  0.332883
10  -2.359419 -0.199543 -1.541996 -0.970736
11  -1.307030  0.286350  0.377984 -0.753887
12   0.331286  1.349742  0.069877  0.246674
13  -0.011862  1.004812  1.327195 -0.919262
14  -1.549106  0.022185  0.758363 -0.660524
16   0.852965 -0.955869 -0.023493 -2.304234
17  -0.652469 -1.218302 -1.332610  1.074623
18   0.723642  0.690002  1.001543 -0.503087
20   0.051316 -1.157719  0.816707  0.433610
21   1.010737  1.824875 -0.997518  0.850591
22  -0.131578  0.912414  0.188211  2.169461
23  -0.114928  2.003697  0.029610  0.795253
25  -1.565657 -0.562540 -0.032664 -0.929006
26  -0.482573 -0.036264  1.095390  0.980928
27  -0.589488  1.581700 -0.528735  0.457002
28   0.929969 -1.569271 -1.022487 -0.402827
29   0.220487 -0.193401  0.669158 -1.648985
30  -2.252797 -1.166832  0.353607  0.702110
32  -0.417064 -0.017007 -1.224145 -1.800840
33   1.634736  0.989008  0.457940  0.555154
34   1.306720 -0.440554 -0.301350  0.498791
35  -0.823991  1.320566  0.507965 -0.653438
..        ...       ...       ...       ...
964  0.537197  0.132493  0.361434  1.348550
965 -0.742698  1.130580  0.482667 -0.051903
968  0.728368  0.328072  2.531127  0.437636
969 -0.952522  0.792203  0.125309 -1.024313
970  1.140886  0.113279  0.206782 -1.460094
971 -1.523554 -0.590572 -0.324064  0.132262
972  0.097878  1.244456 -0.048534 -1.091849
973 -0.738296  0.115881  0.016253 -1.243078
974 -1.969172 -1.141360  0.405558 -0.521155
975 -0.813280 -0.461413  1.159668 -0.307670
976  0.669147  0.397355  0.612537  1.381155
977 -0.042541  1.182125  0.153036  0.075798
978  0.615651 -1.992291  0.963044  0.102469
979  0.359400  0.355787 -0.799366  1.120895
981 -0.136429  1.285628  0.753586  0.053410
982 -0.355393  0.790731  1.274794  0.233619
983 -1.316005  1.396082  0.336700  0.604880
984  0.675317 -0.060329  1.801953 -0.335099
985 -0.754114  0.650691  0.365401  1.367213
987 -0.052736 -0.457225  2.452835 -1.050942
989  0.881601  1.067288  1.079688  1.642339
990 -0.103672 -0.882949 -0.197357  1.336648
992 -0.527754  0.815104 -0.677870 -1.466596
993  0.957144  0.377342 -0.383241  1.101972
994  1.221058 -0.326481  0.750008  0.604072
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

[782 rows x 4 columns]

In [67]:
np.sign(dframe)

       0    1    2    3
0   -1.0  1.0 -1.0 -1.0
1    1.0  1.0  1.0  1.0
2    1.0  1.0  1.0 -1.0
3    1.0  1.0  1.0  1.0
4   -1.0 -1.0  1.0 -1.0
5   -1.0  1.0  1.0 -1.0
6   -1.0  1.0  1.0  1.0
7    1.0  1.0 -1.0 -1.0
8   -1.0 -1.0 -1.0  1.0
9   -1.0  1.0 -1.0  1.0
10  -1.0 -1.0 -1.0 -1.0
11  -1.0  1.0  1.0 -1.0
12   1.0  1.0  1.0  1.0
13  -1.0  1.0  1.0 -1.0
14  -1.0  1.0  1.0 -1.0
15   1.0 -1.0  1.0  1.0
16   1.0 -1.0 -1.0 -1.0
17  -1.0 -1.0 -1.0  1.0
18   1.0  1.0  1.0 -1.0
19  -1.0 -1.0 -1.0  1.0
20   1.0 -1.0  1.0  1.0
21   1.0  1.0 -1.0  1.0
22  -1.0  1.0  1.0  1.0
23  -1.0  1.0  1.0  1.0
24   1.0 -1.0  1.0  1.0
25  -1.0 -1.0 -1.0 -1.0
26  -1.0 -1.0  1.0  1.0
27  -1.0  1.0 -1.0  1.0
28   1.0 -1.0 -1.0 -1.0
29   1.0 -1.0  1.0 -1.0
..   ...  ...  ...  ...
970  1.0  1.0  1.0 -1.0
971 -1.0 -1.0 -1.0  1.0
972  1.0  1.0 -1.0 -1.0
973 -1.0  1.0  1.0 -1.0
974 -1.0 -1.0  1.0 -1.0
975 -1.0 -1.0  1.0 -1.0
976  1.0  1.0  1.0  1.0
977 -1.0  1.0  1.0  1.0
978  1.0 -1.0  1.0  1.0
979  1.0  1.0 -1.0  1.0
980 -1.0 -1.0 -1.0 -1.0
981 -1.0  1.0  1.0  1.0
982 -1.0  1.0  1.0  1.0
983 -1.0  1.0  1.0  1.0
984  1.0 -1.0  1.0 -1.0
985 -1.0  1.0  1.0  1.0
986 -1.0 -1.0  1.0 -1.0
987 -1.0 -1.0  1.0 -1.0
988 -1.0  1.0 -1.0 -1.0
989  1.0  1.0  1.0  1.0
990 -1.0 -1.0 -1.0  1.0
991  1.0 -1.0  1.0  1.0
992 -1.0  1.0 -1.0 -1.0
993  1.0  1.0 -1.0  1.0
994  1.0 -1.0  1.0  1.0
995  1.0  1.0 -1.0  1.0
996 -1.0 -1.0 -1.0 -1.0
997 -1.0  1.0  1.0  1.0
998 -1.0 -1.0 -1.0 -1.0
999  1.0  1.0  1.0  1.0

[1000 rows x 4 columns]

In [73]:
dframe[np.abs(dframe)>3] = np.sign(dframe)*3

In [74]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000